<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="customerService" class="fr.fidtec.POC_AOP_With_Springframework.CustomerService">
		<property name="name" value="Fidele COULON" />
		<property name="url" value="http://www.fidtec.fr" />
	</bean>
	
	<bean id="hijackBeforeMethodBean" class="fr.fidtec.POC_AOP_With_Springframework.HijackBeforeMethod" />
	<bean id="hijackAfterMethodBean" class="fr.fidtec.POC_AOP_With_Springframework.HijackAfterMethod" />

	<bean id="customerServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="customerService" />

		<property name="interceptorNames">
			<list>
				<value>hijackBeforeMethodBean</value>
				<value>hijackAfterMethodBean</value>
			</list>
		</property>
		
	</bean>

</beans>