# Java related
target/**
*.jar
*.war
*.ear
*.class

# Log file
*.log

# eclipse specific
.project
.metadata
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.factorypath
.classpath
.settings/**

# Locally stored "Eclipse launch configurations"
*.launch