<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
	  	
	<appenders>
	  		<Console name="Console" target="SYSTEM_OUT">
	  		 	<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg - %X{UserName} %throwable %n"/>      
	  		</Console>
	  
	  		<File name="FILE_LOG" fileName="F:\\Logs\\POC_Log4j2.log">
				<PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg - %X{UserName} %n"/>
	  		</File>
    		
    		<!-- The attributes in the Syslog tag:
    		name: defines the name of the appender, and must be unique. Since we can have multiple Syslog appenders for the same application and configuration
    		format: it can be either set to BSD or RFC5424, and the Syslog records would be formatted accordingly
    		host & port: the hostname and port of the remote Syslog server machine
    		protocol: whether to use TCP or UPD
    		facility: to which Syslog facility the event will be written
    		The facility is used to try to classify the message. The facility option must be set to one of "KERN", "USER", "MAIL", "DAEMON", "AUTH", "SYSLOG", "LPR", "NEWS", "UUCP", "CRON", "AUTHPRIV", "FTP", "NTP", "AUDIT", "ALERT", "CLOCK", "LOCAL0", "LOCAL1", "LOCAL2", "LOCAL3", "LOCAL4", "LOCAL5", "LOCAL6", or "LOCAL7". These values may be specified as upper or lower case characters.
    		connectTimeoutMillis: time period of waiting for an established connection, defaults to zero
    		reconnectionDelayMillis: time to wait before re-attempting connection
        	
        	Uniquement en RFC 5424
        	appname : Tag  sans espace
        	messageId="Audit" : ajouté au début du message
            
            enterpriseNumber="18060" inexploité ? The IANA enterprise number as described in RFC 5424
            id="App" inexploité ? The default structured data id to use when formatting according to RFC 5424. If the LogEvent contains a StructuredDataMessage the id from the Message will be used instead of this value.
            
            Source Name non setté : BSD et RFC5424 ????
            
            includeMDC : Indicates whether data from the ThreadContextMap will be included in the RFC 5424 Syslog record. Defaults to true.
            
            charset="ISO-8859-1"
            
            It works and outputs using the default RFC5424 format: May 14 14:31:36 [server] [app]: My log message
            
        	-->
        		    	
		 	<Syslog name="Syslog"
	    		    format="rfc5424"
	    		    host="localhost"
	    		    port="514"
	            	protocol="TCP"
	            	facility="LOCAL0"
	            	newLine="true"
	             
	                includeMDC="true"
	                mdcId="testlog4j"
	              
	              	appName="TestLog4j2"
	              	messageId="MonMessageAMoi"
	              	  
	                enterpriseNumber="18060"
	                id="App" 
	                
	                charset="UTF-8"
	                
	                connectTimeoutMillis="1000"
	                reconnectionDelayMillis="5000"
	                
	                >
	            <!--  Ajout des champs au message -->    
	        	<!-- <LoggerFields>
	                  <KeyValuePair key="date" value="%d"/>
	                  <KeyValuePair key="thread" value="%t"/>
	                  <KeyValuePair key="priority" value="%p"/>
	                  <KeyValuePair key="category" value="%c"/>
	                  <KeyValuePair key="exception" value="%ex"/>
	                  <KeyValuePair key="message" value="%m"/>
	            </LoggerFields> -->
	          
<!-- 	          	<PatternLayout pattern=" ${hostName} DATE:%d{ISO8601}GMT+100 [%t] %-5level %logger{36} - %msg%n"/> -->
	  		</Syslog>
	 


	 </appenders>
	 
	 <Loggers>
	 
	 	<Logger name="fr.fidtec.Log4j2.UseLog4j2" level="DEBUG" additivity="true">
	        	<AppenderRef ref="Console"/>  
	      		<AppenderRef ref="FILE_LOG"/>
	      		<AppenderRef ref="Syslog"/>
	 	</Logger>
	    	  	
	  	<Root level="all">
	   		<AppenderRef ref="Console" />
	  	</Root>
	  	
	</Loggers>
</configuration>